/**
 * Site header
 */


// .site-header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   margin-right: auto;
//   margin-left: auto;
//   z-index: 1000;  // Asegura que el encabezado siempre esté en la parte superior

//   min-height: $spacing-unit * 1.865;

//   background: url('/assets/img/header.png')  border-box;
//   background-color: #01112E;  // Agrega un color de fondo para evitar que el contenido se vea a través


//  @media screen and (width: 1600px) {
  
//   background: url('/assets/img/header900.png')  border-box;

// }

// }

// .site-title {
//   @include relative-font-size(1.355);
//   font-weight: 500;
//   letter-spacing: 10px;
//   margin-bottom: 0;
//   color: #ffffff; 
//   margin-top: 40px;

//   float: left;

//   @include media-query($on-palm) {
//     padding-right: 45px;
//   }

//   &,
//   &:visited {
//     color: $site-title-color;
//   }
//   // Código para insertar los logos
//   &::before {
//     content: url('/assets/img/logo.webp');
//     margin-right: 10px;
//     position: fixed;  // posiciona el logo fijamente en la pantalla
//     left: 180px;       // aleja el logo 20px del borde izquierdo de la pantalla
//     top: 50px;        // aleja el logo 20px del borde superior de la pantalla
//   }

//   &::after {
    
//     content: url('/assets/img/logo1.webp');
//     margin-right: 10px;
//     position: fixed;  // posiciona el logo fijamente en la pantalla
//     right:  200px;       // aleja el logo 20px del borde izquierdo de la pantalla
//     top: 50px;        // aleja el logo 20px del borde superior de la pantalla
//   }

// }

// .page-content {
//   max-width: 91%;
//   width: 91%;
//   position: relative;
//   flex: 1 0 auto;
//   border: 92px solid transparent;  
//   background: url('/assets/img/fondo.png') repeat border-box;
//   padding: 10px;
//   padding-top: 50px; 

//   column-gap: 2em;

//   @media screen and (width: 1600px) {
   
//     background: url('/assets/img/fondo900.png') repeat border-box;
//   }
//  }

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  z-index: 1000; 

  min-height: $spacing-unit * 1.865;

  background: url('/assets/img/header.png') border-box;
  background-color: #01112E;

  @media screen and (min-width: 1600px) {
    background: url('/assets/img/header900.png') border-box;
  }
}

.site-title {
  @include relative-font-size(1.355);
  font-weight: 500;
  letter-spacing: 10px;
  margin-bottom: 0;
  color: #ffffff; 
  margin-top: 40px;

  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }

  @media screen and (min-width: 900px) {
    &::before {
      content: url('/assets/img/logo.webp');
      margin-right: 10px;
      position: fixed;
      left: 180px;     
      top: 50px;      
    }

    &::after {
      content: url('/assets/img/logo1.webp');
      margin-right: 10px;
      position: fixed;
      right:  200px;      
      top: 50px;       
    }
  }
}

.page-content {
  max-width: 91%;
  width: 91%;
  position: relative;
  flex: 1 0 auto;
  border: 92px solid transparent;  
  background: url('/assets/img/fondo.png') repeat border-box;
  padding: 10px;
  padding-top: 50px; 

  column-gap: 2em;

  @media screen and (min-width: 1600px) {
    background: url('/assets/img/fondo900.png') repeat border-box;
  }
}


 .page-content.onecolumn {
  column-count: 1;
}

.page-content.twocolumn {
  column-count: 2;
}

.page-content.threecolumn {
  column-count: 3;
}


.site-nav {
  position: absolute;
  top: 9px;
  right: $spacing-unit * .5;
  background-color: $background-color;
  border: 1px solid $border-color-01;
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $border-color-03;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    display: block;
    padding: 5px 10px;
    font-size: 16px; 
    position: fixed; 
    right: 20px; 
    top: 10px; // ajusta este valor según lo necesites
  
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }
  


  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;

      &:not(:last-child) {
        margin-right: 20px;
      }
      margin-left: auto;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * .5;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
}

.footer-col {
  margin-bottom: $spacing-unit * .5;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit * .5);

    &:first-child {
      padding-right: $spacing-unit * .5;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit * .5;
    }
  }
}












.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3, h4, h5, h6 { margin-top: $spacing-unit }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}


.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
  }
}



/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit * .25;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}



/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}
